<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myc.mapper.ResourcesMapper">
  <resultMap id="BaseResultMap" type="com.myc.entity.Resources">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="res_url" jdbcType="VARCHAR" property="resUrl" />
    <result column="type" jdbcType="INTEGER" property="type" />
    <result column="parent_id" jdbcType="INTEGER" property="parentId" />
    <result column="sort" jdbcType="INTEGER" property="sort" />
  </resultMap>

  <select id="queryAll" resultType="com.myc.entity.Resources">
      	SELECT id,name,parent_id,res_url,type,sort
		FROM resources
		ORDER BY sort ASC
  </select>

    <select id="loadUserResources" parameterType="java.util.HashMap" resultType="com.myc.entity.Resources">
        SELECT re.id,re.name,re.parent_id,re.res_url
        FROM resources re LEFT JOIN role_resources rr
        ON re.id = rr.resources_id
        LEFT JOIN user_role ur
        ON rr.role_id =ur.role_id
        WHERE ur.user_id=#{userId}
        <if test="type != null">
            AND re.type= #{type}
        </if>
        GROUP BY re.id
        ORDER BY re.sort ASC
    </select>

    <select id="queryResourcesListWithSelected" parameterType="int" resultType="com.myc.entity.Resources">
        SELECT re.id,re.name,re.parent_id,re.res_url,re.type,
		(CASE WHEN EXISTS(SELECT 1
		FROM role_resources rr WHERE rr.resources_id=re.id AND rr.role_id=#{rid})
		THEN 'true' ELSE 'false' END) AS checked
		FROM resources re
		WHERE re.parent_id !=0
		ORDER BY re.sort ASC
    </select>
</mapper>