<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myc.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.myc.entity.User">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="user_name" jdbcType="VARCHAR" property="userName"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="enable" jdbcType="INTEGER" property="enable"/>
        <result column="verify_count" jdbcType="INTEGER" property="verifyCount"/>
    </resultMap>


    <resultMap type="com.myc.vo.UserVo" id="userAndRoleResultMap" extends="BaseResultMap">
        <!-- 一个用户对应多个订单 -->
        <collection property="roleList" ofType="com.myc.entity.Role">
            <result column="role_id" jdbcType="VARCHAR" property="id"/>
            <result column="role_desc" jdbcType="VARCHAR" property="roleDesc"/>
            <result column="role_name" jdbcType="VARCHAR" property="roleName"/>
        </collection>
    </resultMap>

    <select id="selectUserVoByUserId" resultMap="userAndRoleResultMap">
      select
        u.*,
        r.id role_id,
        r.role_name,
        r.role_desc
      from user u left join user_role ur on u.id = ur.user_id left join role r on r.id = ur.role_id
      where u.id = #{userId}
  </select>

    <select id="selectAllUser" parameterType="com.myc.dto.UserDto" resultMap="BaseResultMap">
        select
        DISTINCT u.id,
        u.user_name,
        u.enable,
        u.verify_count
        from user u left join user_role ur on u.id = ur.user_id left join role r on r.id = ur.role_id
        where 1=1
        <if test="userDto.id != null">
            AND u.id = #{userDto.id}
        </if>
        <if test="userDto.userName != null and userDto.userName != ''">
            AND u.user_name like "%"#{userDto.userName}"%"
        </if>
        order by u.id
    </select>
</mapper>